<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sorte do Dia da Gretchen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style type="text/css">
	.container {
		margin-top: 50px;
	}

	.pull-left{
		float: left;
	}
</style>
<body>
	<div class="container text-center">
	    {{{body}}}
    </div>
</body>
</html>