<div class="row">
	<div class="col-sm-4 text-center"></div>
	{{> item}}
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<a href="/list/" class="btn btn-success">Enviar novo gif</a>
	</div>
</div>