<div class="row">
	<div class="col-12">
		<h1 class="text-center">Sorte do dia da Gretchen</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<a href="/result/{{id}}" class="btn btn-success">Veja sua sorte do dia</a>
	</div>
</div>